.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {color: #317ef3;}
.weui-navbar__item.weui-bar__item--on {color: #317ef3;background: none;border-bottom: #317ef3 2px solid;}
.head-search input{background: #8254bf;background: rgba(0, 0, 0, 0.25);}
.theme-color{color: #317ef3 !important;}
.theme-bgcolor{background: #317ef3 !important;}
.theme-bdcolor{border: 1px solid #8254bf !important;}
.weui-count .weui-count__btn {border: 1px solid #317ef3; }
.weui-count .weui-count__increase {background-color: #317ef3; }
.weui-count .weui-count__btn:after, .weui-count .weui-count__btn:before {background-color: #317ef3; }
.weui-count .weui-count__increase:after, .weui-count .weui-count__increase:before {background-color: #fff; }

/*首页*/
.swiper-pagination-bullet-active {background: #317ef3;}
.index-news .news-cont strong em{background: #317ef3;}
/*详情页*/
.item-spec-layer .spec-info .spec-info-bd ul li.active{border-color: #317ef3;color: #317ef3;}
/*分类*/
.class-cont .class-hd>li.active>a, .class-cont .class-hd>li.active>a:focus, .class-cont .class-hd>li.active>a:hover {color: #317ef3;}
/*发现好货*/
.find-cart .cart-tab.active{color: #317ef3;border-bottom: 2px solid #317ef3;}
.group1-hd .hd-take{border: 1px solid #317ef3;color: #317ef3;}